.log {
    border: 1px solid black;
    border-radius: 20px;
    width: 50% !important; 
}
.bgPic {
    background-image: url('../../assets/bg-pic1.jpg');
    background-size: cover;
    height: 100vh;
}
@media (max-width: 767px) {
    .log {
        width: 100% !important; 
    }
}
